<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <%= f.label :position %>
  <%= f.number_field :position, class: "form-input" %>
  
  <%= f.label :color_hex %>
  <%= f.color_field :color_hex, class: "form-input" %>

  <%= f.label :position_percent %>
  <%= f.number_field :position_percent, class: "form-input" %>

  <button type="button" data-action="nested-form#remove">Remove color_stop</button>

  <%= f.hidden_field :_destroy %>
</div>
