<%= form_with model: @palette, data: { controller: "palette-form nested-form",
     nested_form_wrapper_selector_value: ".nested-form-wrapper",
     action: "input->palette-form#update change->palette-form#update" } do |form| %>

  <% if palette.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(palette.errors.count, "error") %> prohibited this palette from being saved:</h2>
      <ul>
        <% palette.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-input" %>
  </div>
  
  <h3>Colour Stops</h3>
  <template data-nested-form-target="template">
    <%= form.fields_for :colour_stops, @palette.next_colour_stop, child_index: 'NEW_RECORD' do |colour_stop_fields| %>
      <%= render "colour_stop_form", f: colour_stop_fields %>
    <% end %>
  </template>

  <%= form.fields_for :colour_stops do |colour_stop_fields| %>
    <%= render "colour_stop_form", f: colour_stop_fields %>
  <% end %>

  <div data-nested-form-target="target"></div>

  <button type="button" data-action="nested-form#add">Add colour_stop</button>

  
  <div class="field">
    <h3>Preview</h3>
    <%= render "preview" %>
  </div>
  
  <div class="actions">
    <%= form.submit class: "button" %>
  </div>
<% end %>
