<!-- app/views/palettes/index.html.erb -->
<h1>Colour Palettes</h1>

<div class="palettes-list">
  <% @palettes.each do |palette| %>
    <div class="palette-item">
      <h3><%= palette.name %></h3>

      <div class="palette-actions">
        <%= link_to "View", palette_path(palette), class: "button" %>
        <%= link_to "Edit", edit_palette_path(palette), class: "button" %>
        <%= link_to "Delete", palette_path(palette), class: "button delete", 
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
</div>

<div class="actions">
  <%= link_to "Create New Palette", new_palette_path, class: "button" %>
</div>
