<!DOCTYPE html>
<html>
  <head>
    <title>PaletteDesigner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "vendor/chroma.min.js", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "vendor/p5.min.js", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "vendor/p5.grain.min.js", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
